
    /*Media Queries*/

@media screen and (max-width: 700px){

    header{
        width: 100%;
    }
    main{
        width: 100%;
        padding: 40px;
        & div{
            & div{
                .img{
                    height: 200px;
                } 
            }
        }
           
    }
    aside{
        width: 100%;
        padding: 20px;
    }
    footer{
        width: 100%;

    }
    .contenedor{
        width: 100%;
    } 
}     

@media screen  and (min-width:700px){
    .contenedor{
        width: 70%;
    }   
    .movimiento{
        width: 70%;
    }
}





